.screen-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.screen{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 70px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.847);
    padding-right: 10px;
}